<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>JSF 2.3 - CommandScript</title>              
    </h:head>
    <h:body>
    	Hola  #{indexBean.hello}
    </h:body>
</html>

