<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html 	xmlns="http://www.w3.org/1999/xhtml"
     	xmlns:h="http://xmlns.jcp.org/jsf/html"
      	xmlns:f="http://xmlns.jcp.org/jsf/core"
		xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Login</title>              
    </h:head>
    <h:body>
    	<h:form>
    		<h:messages />
    		<div>
	    		<h:outputLabel for="username" value="Username"/>
	    		<h:inputText id="username" label="Username" value="#{loginBean.username}"/>
    		</div>
    		<div>
    			<h:outputLabel for="password" value="Password"/>
    			<h:inputSecret id="password" label="Password" value="#{loginBean.password}"/>
    		</div>
    		<h:commandButton value="submit"/>
    	</h:form>
    </h:body>
</html>

